/** Css Beginning **/

body{
		background: url("../images/mod.jpg");
		background-repeat: no-repeat;
		background-position: center;
		height: 1500px;
}

section{
		background: rgba(0, 0, 0, 0.5);
		width: 1425px;
		height: 1500px;
		margin-left: -9px;
}

form{
		margin: 0 auto;
		background-color: #fff;
		width: 950px;
		height: 400px;
		border-radius: 3px;
}

h4{
		text-align: center;
		background: #288798;
		color: #fff;
		font-size: 18px;
		height: 70px;
		margin-top: -10px;
		line-height: 65px;
		padding-left: 250px;
}

button:first-child{
		float: right;
		width: 25px;
		height: 25px;
		background: #000;
		margin-top: 15px;
		margin-right: 15px;
		border-color: #fff;
}

span{
		color: #fff;
		font-size: 20px;
		text-align: center;
		margin-top: -2px;
		line-height: 2px;
}

a{
		text-decoration: none;
}

.tabs li{
		display: inline-block;
		padding: 11px;
		margin-left: 50px;
		text-transform: uppercase;
		font-size: 14px;
		color: #377bb5;
}

.tabs li:first-child.selected {
  background: #FFF;
  color: #000;
  border-radius: 3px;
  border: 1px solid #AAA;
}

.tabs{
  position: relative;
}

.tabs:after{
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #AAA;
  border-radius: 5px;
  z-index: 1;
}

.tabs li:hover{
		border-radius: 3px;
  		border: 1px solid #AAA;
  		color: #377bb5;
  		background: rgba(170, 170, 170, 0.4);
}

#username{
		width: 500px;
		height: 30px;
		margin-left: 220px;
		border-radius:  3px;
		border: 1px solid #ccc;
		background: url("../images/fa-user.png") no-repeat left;
		background-size: 1rem;
}

#password{
		width: 500px;
		height: 30px;
		margin-left: 220px;
		border-radius:  3px;
		border: 1px solid #ccc;
		background: url("../images/9cRRGbK7i.png") no-repeat left;
		background-size: 1.5rem;
}

::-webkit-input-placeholder{
		padding-left: 40px;
		font-size: 12px;
}

button{
		width: 506px;
		height: 30px;
		margin-left: 220px;
		margin-top: 20px;
		background-color: #71a75b;
		color: #fff;
		font-size: 14px;
		border-radius: 3px;
		border: 1px solid #000;
}

#foot{
		padding: 10px;
		margin-left: 115px;
		color: #377bb5;
}

#foot li{
		display: inline-block;
		margin-left: 150px;
		text-transform: uppercase;
		font-size: 14px;
		color: #377bb5;

}

#foot li:hover{
		text-decoration: underline;
		color: #377bb5;
}

