/** Css Beginning **/

body{
		background: #ccc;

}

section{
		background: rgba(255, 255, 255, 0.8);
		width: 1400px;
		height: 500px;
		margin: 0 auto;

}

h2{
		width: 400px;
		font-size: 30px;
		margin-left: 150px;
		padding-top: 50px;
		font-weight: 200;
		color: #1d2127;
		font-family: open sans, arial, sans serif;
		letter-spacing: -1px;

}

span{
		font-weight: bold;

}



