<!DOCTYPE html>

<html lang="en">

<head>
		<meta charset="utf-8">
		<title> Component 8 </title>
		<link href="css/component.css" type="text/css" rel="stylesheet">
</head>

<body>

		<aside>
				<figure>
						<img src="images/bg.jpg" alt="head1" />
						<img src="images/yellow-seperator.png" alt="mount" />
				</figure>
						<h1> Mountain Biking Club </h1>
						<h3> Mountain Biking, Hiking, Trips </h3>
						<button> Try Free Class! </button>
				
				<figure>
						<img src="images/bg1.jpg" alt="head2" />
						<img src="images/mountain.png" alt="mount" />
						<img src="images/cycle.png" alt="mount" />
				</figure>
						<h3> Welcome to Mountain Biking </h3>
						<h1> A "Wheelin" <br> Good Time </h1>
						
				<figure>
						<img src="images/bg2.jpg" alt="head3" />
				</figure>
						<h3> The love of Biking </h3>
						<h2> T. E. A. M <span> Everyone </span> </h2>
						<h1> Together </h1>
						<h3> Achieve More </h3>
				<ul>
						<li> <a href="#"> previous </a> </li>
						<li> <a href="#"> next </a> </li>
				</ul>
		</aside>

</body>

</html>




