<!DOCTYPE html>

<html lang="en">

<head>

		<meta charset="utf-8">
		
		<title> Component 5</title>
		
		<link rel="stylesheet" href="js/plugins/jquery-ui-1.11.4.custom 7">
  		
  		<script src="js/plugins/jquery-1.11.3.min.js"></script>
  		
  		<script src="js/main.js"></script>

		<link href="css/component.css" type="text/css" rel="stylesheet">

</head>

<body>

		<section>
		
				<div id="banner">
				
						<h1>Discover A Hotel That Defines A New Dimension Of Luxury</h1>
				
				</div>
				
				<form>
				
						<div class="in">
						
								<label> check in </label>
								
						</div>
						
						<div class="date">
						
								<input type="text" id="datepicker">
						
						</div>
						
						<div class="out">
						
								<label> check out </label>
								
						</div>
						
						<div class="date">
						
								<input type="text" id="datepicker">
						
						</div>
						
						<div class="count">
						
								<label> Adults </label>
								
								<input type="number" value="0" min="0" max="9">
						
						</div>
						
						<div class="kids">
						
								<label> kids </label>
								
								<input type="number" value="0" min="0" max="9">
						
						</div>
						
						<div class="submit">
						
								<a href="#" class=""> Login </a>
								
								<input type="submit" value="reserve now">
						
						</div>
				
				</form>
		
		</section>

</body>

</html>




