<!DOCTYPE html>

<html lang="en">

<head>
		<meta charset="utf-8">
		<title> Component 5</title>
		<link rel="stylesheet" href="js/plugins/jquery-ui-1.11.4.custom 7">
  		<script src="js/plugins/jquery-1.11.3.min.js"></script>
  		<script src="js/main.js"></script>
		<link href="css/component.css" type="text/css" rel="stylesheet">
</head>

<body>

		<section>
		
				<article>
						<h1>Discover A Hotel That Defines A New Dimension Of Luxury</h1>
						<form>
								<label> check in </label>
								<input type="text" id="datepicker">
								<label> check out </label>
								<input type="text" id="datepicker">
								<label> Adults </label>
								<input type="number" value="0" min="0" max="9">
								<label> kids </label>
								<input id="kid" type="number" value="0" min="0" max="9">
								<p><a href="#" class=""> Login </a></p>
								<input type="submit"  target="_blank" value="reserve now">
						</form>
				</article>
		
		</section>

</body>

</html>




