<!DOCTYPE html>

<html lang="en">

<head>
		<meta charset="utf-8">
		<title> Component 7 </title>
		<link href="css/component.css" type="text/css" rel="stylesheet">
</head>

<body>

		<article>
				<h1> Photos </h1>
				<ul>
						<li> <a href="#"> Racers </a></li>
						<li> <a href="#"> Riders </a></li>
						<li> <a href="#"> Teams </a></li>
				</ul>
				
				<figure>
						<img src="images/page-1_img10.jpg" alt="cycle" width="400" height="238" />
						<img src="images/page-1_img11.jpg" alt="cycle" width="400" height="238" />
						<img src="images/page-1_img12.jpg" alt="cycle" width="400" height="238" />
						<img src="images/page-1_img13.jpg" alt="cycle" width="400" height="238" />
						<img src="images/page-1_img03.jpg" alt="cycle" width="400" height="238" />
						<img src="images/page-1_img15.jpg" alt="cycle" width="400" height="238" />
						<img src="images/page-1_img16.jpg" alt="cycle" width="400" height="238" />
						<img src="images/page-1_img01.jpg" alt="cycle" width="400" height="238" />
						<img src="images/page-1_img18.jpg" alt="cycle" width="400" height="238" />
						<img src="images/page-1_img09.jpg" alt="cycle" width="400" height="238" />
				</figure>
		</article>

</body>

</html>




