<!DOCTYPE html>

<html lang="en">

<head>
		<meta charset="utf-8">
		<title> Component 1 </title>
		<link href="css/component.css" type="text/css" rel="stylesheet">
</head>

<body>

		<header>
		
				<nav>
						<ul>
								<li id="active"> <a href="#"> About Us </a> </li>
								<li> <a href="#"> Portfolio </a> </li>
								<li> <a href="#"> Services </a> </li>
								<li> <a href="#"> Links </a> </li>
								<li> <a href="#"> Contacts </a> </li>
						</ul>
				</nav>
				
						<h1> Weboo design studio </h1>
						
				<article>
						<p> <span> Pro. </span> Services </p>
						<p> KERTREASA KERODE FINEASAS LERTYAEAS BERIS IYTASERAS BASEARERYAS RTPLICA ECIANVER, STISEUYASE FERDA SDELORTASES MASERTYU ERITSAS FEDERAS. </p>
				</article>
				
		</header>
		
</body>

</html>




