<!DOCTYPE html>

<html lang="en">

<head>

		<meta charset="utf-8">
		
		<title> Component 1 </title>
		
		<link href="css/component.css" type="text/css" rel="stylesheet">

</head>

<body>

		<section>
		
				<nav>
				
						<ul>
								<li> About Us </li>
								
								<li> Portfolio </li>
								
								<li> Services </li>
								
								<li> Links </li>
								
								<li> Contacts </li>
								
						</ul>
						
				</nav>
				
						<h1> Weboo </h1>
				
						<p> design studio </p>
				
						<img src="images/logo.png" alt="circle" />
						
				<div id="services">
				
						<p class="first"> <strong> Pro. </strong> Services </p>
						
						<p> KERTREASA KERODE FINEASAS LERTYAEAS BERIS IYTASERAS BASEARERYAS RTPLICA ECIANVER, STISEUYASE FERDA SDELORTASES MASERTYU ERITSAS FEDERAS. </p>
				
				</div>
						
		</section>

</body>

</html>




