<!DOCTYPE html>

<html lang="en">

<head>
		<meta charset="utf-8">
		<title> Component 4</title>
		<link href="css/component.css" type="text/css" rel="stylesheet">
</head>

<body>

		<section>
		
				<article>
						<h3> Newsletter </h3>
						<p> Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter. </p>
						<form>
								<input placeholder="Email Address" id="newsletter" type="text">
								<button class="enter" type="submit"> Go! </button>
						</form>
				</article>
				
				<article>
						<h3> Latest Tweets </h3>
						<p> Porto has now a Magento version - <br> <a href="#"> http://t.co/Aw6NQecI8r </a><br>
 <a href="#"> 12:53 AM Dec 19th </a></p>
						<p> Porto is the best seller HTML Site <br> Template on ThemeForest, 12.000+ sales.
<br> <a href="#"> 04:25 AM Nov 21st </a></p>
				</article>
				
				<article>
						<h3> Contact Us </h3>
						<p> <span>Address:</span> 1234 Street Name, City Name, United States </p>
						<p> <span> Phone:</span> (123) 456-7890 </p>
						<p> <span> Email:</span><a href="#"> mail@example.com </a></p>
				</article>
				
				<article>
						<h3> Follow Us </h3>
						<ul>
								<li><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" data-tooltip="" title="" data-original-title="Facebook">Facebook</a></li>
								<li><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" data-tooltip="" title="" data-original-title="Twitter">Twitter</a></li>
								<li><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" data-tooltip="" title="" data-original-title="Linkedin">Linkedin</a></li>
						</ul>
				</article>
		
		</section>

</body>

</html>




