/** Css Beginning **/

body{
		background: #000;
}

section{
		background: #f0eddf;
		margin: 0 auto;
		margin-top: 50px;
		width: 960px;
		height: 650px;
		text-align: center;
}

h1{
		text-align: center;
		font-size: 36px;
		padding-top: 20px;
}

ul{
		text-align: center;
		margin-top: -15px;
}

li{
		display: inline-block;
}

.direction li{
		font-size: 21px;
		color: #8d867c;
}

.direction .active{
	color: #52c4e8;
}

article{
		width: calc(25% - 4rem);
		margin: 0 1.7rem;
		float: left;
		display: inline-block;
		padding: 2rem;
}

#para{
		background: #f8f7f0;
		width: 238px;
		height: 250px;
		color: #8d867c;
		margin-top: -10px;
		padding: 5px;
		border: 1px solid #bfb8aa;
}

h4{
		color: #52c4e8;
		font-size: 21px;
		margin-bottom: -15px;
}

p{
		width: 200px;
		margin-left: 20px;
}

#para ul{
		width: 300px;
		margin-left: -70px;
}

#para li{
		display: inline-block;
		padding-top: 25px;
}

#para li a{
		display: block;
		width: 2rem;
		height: 2rem;
		text-indent: -9999px;
}

a[href*="facebook"] {
		background: url("../images/faa.png") no-repeat center;
		background-size: 1.5rem;
}

a[href*="twitter"]{
		background: url("../images/twitter.png") no-repeat center;
		background-size: 1.5rem;
}

a[href*="google.com/+"]{
		background: url("../images/google-black-logo-square.png") no-repeat center;
		background-size: 2rem;
}

a[href*="linkedin"]{
		background: url("../images/link.png") no-repeat center;
		background-size: 2rem;
}

a[href*="#"]{
		background: url("../images/email_icon.png") no-repeat center;
		background-size: 2rem;
}



