<!DOCTYPE html>

<html lang="en">

<head>
		<meta charset="utf-8">
		<title> Component 3</title>
		<link href="css/component.css" type="text/css" rel="stylesheet">
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>

		<section>
		
				<h1> Meet the team </h1>
				<ul>
						<li> previous page </li>
						<li class="active"> next page </li>
				</ul>
				
				<article>
						<img src="images/page-1_img-12.jpg" alt="one" width="250" height="200"/>
						<div id="para">
								<h4> Robert Smith </h4>
								<p> Vivamus eget nibh </p>
								<p> "Vestibnisl, porta vel, sceleris lesuada at, neque. Vivamus eget nibh. Etiam curs leo vel metus. Nulla facilisi. Aenean nec eros." </p>
						<ul>
								<li><a id=facebook href="#"> Facebook </a></li>
								<li><a id=twitter href="#"> Twitter </a></li>
								<li><a id=google href="#"> Google </a></li>
								<li><a id=linkedin href="#"> LinkedIn </a></li>
								<li><a id=email href="#"> Email </a></li>
						</ul>
						</div>
				</article>
				
				<article>
						<img src="images/page-1_img-12.jpg" alt="one" width="250" height="200"/>
						<div id="para">
								<h4> Andy Tailor </h4>
								<p> Vivamus eget nibh </p>
								<p> "Vestibnisl, porta vel, sceleris lesuada at, neque. Vivamus eget nibh. Etiam curs leo vel metus. Nulla facilisi. Aenean nec eros." </p>
						<ul>
								<li><a id=facebook href="#"> Facebook </a></li>
								<li><a id=twitter href="#"> Twitter </a></li>
								<li><a id=google href="#"> Google </a></li>
								<li><a id=linkedin href="#"> LinkedIn </a></li>
								<li><a id=email href="#"> Email </a></li>
						</ul>
						</div>
				</article>
				
				<article>
						<img src="images/page-1_img-12.jpg" alt="one" width="250" height="200"/>
						<div id="para">
								<h4> Oscar White </h4>
								<p> Vivamus eget nibh </p>
								<p> "Vestibnisl, porta vel, sceleris lesuada at, neque. Vivamus eget nibh. Etiam curs leo vel metus. Nulla facilisi. Aenean nec eros." </p>
						<ul>
								<li><a id=facebook href="#"> Facebook </a></li>
								<li><a id=twitter href="#"> Twitter </a></li>
								<li><a id=google href="#"> Google </a></li>
								<li><a id=linkedin href="#"> LinkedIn </a></li>
								<li><a id=email href="#"> Email </a></li>
						</ul>
						</div>
				</article>
		
		</section>

</body>

</html>




