<!DOCTYPE html>

<html lang="en">

<head>
		<meta charset="utf-8">
		<title> Component 3</title>
		<link href="css/component.css" type="text/css" rel="stylesheet">
</head>

<body>

		<section>
		
				<h1> Meet the team </h1>
				<ul class="direction">
						<li> &lt; </li>
						<li class="active"> &gt; </li>
				</ul>
				
				<article>
						<img src="images/page-1_img-12.jpg" alt="one" width="250" height="200"/>
						<div id="para">
								<h4> Robert Smith </h4>
								<p> Vivamus eget nibh </p>
								<p> "Vestibnisl, porta vel, sceleris lesuada at, neque. Vivamus eget nibh. Etiam curs leo vel metus. Nulla facilisi. Aenean nec eros." </p>
						<ul>
								<li><a href="http://www.facebook.com"> Facebook </a></li>
								<li><a href="http://www.twitter.com"> Twitter </a></li>
								<li><a href="http://www.google.com/+/"> Google+ </a></li>
								<li><a href="http://www.linkedin.com"> LinkedIn </a></li>
								<li><a href="#"> Email </a></li>
						</ul>
						</div>
				</article>
				
				<article>
						<img src="images/page-1_img-13.jpg" alt="one" width="250" height="200"/>
						<div id="para">
								<h4> Andy Tailor </h4>
								<p> Vivamus eget nibh </p>
								<p> "Vestibnisl, porta vel, sceleris lesuada at, neque. Vivamus eget nibh. Etiam curs leo vel metus. Nulla facilisi. Aenean nec eros." </p>
						<ul>
								<li><a href="http://www.facebook.com"> Facebook </a></li>
								<li><a href="http://www.twitter.com"> Twitter </a></li>
								<li><a href="http://www.google.com/+/"> Google Plus </a></li>
								<li><a href="http://www.linkedin.com"> LinkedIn </a></li>
								<li><a href="#"> Email </a></li>
						</ul>
						</div>
				</article>
				
				<article>
						<img src="images/page-1_img-14.jpg" alt="one" width="250" height="200"/>
						<div id="para">
								<h4> Oscar White </h4>
								<p> Vivamus eget nibh </p>
								<p> "Vestibnisl, porta vel, sceleris lesuada at, neque. Vivamus eget nibh. Etiam curs leo vel metus. Nulla facilisi. Aenean nec eros." </p>
						<ul>
								<li><a href="http://www.facebook.com"> Facebook </a></li>
								<li><a href="http://www.twitter.com"> Twitter </a></li>
								<li><a href="http://www.google.com/+/"> Google Plus </a></li>
								<li><a href="http://www.linkedin.com"> LinkedIn </a></li>
								<li><a href="#"> Email </a></li>
						</ul>
						</div>
				</article>
		
		</section>

</body>

</html>




