<!DOCTYPE html>

<html lang="en">

<head>
		<meta charset="utf-8">
		<title> Component 2</title>
		<link href="css/component.css" type="text/css" rel="stylesheet">
</head>

<body>

		<section>
		
				<article>
						<h2> Latest <span> Blog </span> Posts </h2>
						<time>
								<p> 15 </p>
								<p> Jan </p>
						</time>
						<h3><a href="#"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></h3>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="read"> read more &gt; </a></p>
				</article>
				
				<article id="two">
						<time>
								<p> 15 </p>
								<p> Jan </p>
						</time>
						<h3><a href="#"> Lorem ipsum dolor </a></h3>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.  <a href="read"> read more &gt; </a></p>
						<ul>
								<li> page 1 </li>
								<li> page 2 </li>
								<li class="active"> page 3 </li>
						</ul>
				</article>
				
				<article>
						<h2> <span> What </span> Client's Say </h2>
						<blockquote> &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.&rdquo; </blockquote>
						<figure>
								<img src="images/client-1.jpg" alt="man" />
								<p>John Smith<br>CEO &amp; Founder - Okler</p>
						</figure>
						<ul>
								<li class="active"> page 1 </li>
								<li> page 2 </li>
						</ul>
				</article>
				
		</section>

</body>

</html>




