<!DOCTYPE html>

<html lang="en">

<head>

		<meta charset="utf-8">
		
		<title> Component 2</title>

		<link href="css/component.css" type="text/css" rel="stylesheet">

</head>

<body>

		<section>
		
						<h2> Latest <strong> Blog </strong> Posts </h2>
						
						<div id="day">
						
								<p> 15 </p>
						
						</div>
						
						<div id="month">
						
								<p> Jan </p>
						
						</div>
						
						<h3><a href="#"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></h3>
						
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat libero. <a href="read"> read more &gt; </a></p>
						
				<article>
				
						<div id="day">
						
								<p> 15 </p>
						
						</div>
						
						<div id="month">
						
								<p> Jan </p>
						
						</div>
				
						<h3><a href="#"> Lorem ipsum dolor </a></h3>
						
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.  <a href="read"> read more &gt; </a></p>
						
				<div id="circle1">
				
						<div class="circle">
				
								<img src="images/circle.jpg" alt="dot" />
				
						</div>
				
						<div class="circle">
				
								<img src="images/circle.jpg" alt="dot" />
				
						</div>
				
						<div class="circle">
				
								<img src="images/circle.jpg" alt="dot" />
				
						</div>
				
				</div>
				
				</article>
				
				<aside>
				
						<h2> What Client's Say </h2>
						
						<p> &ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.  Donec hendrerit vehicula est, in consequat.&rdquo; </p>
						
				<div class="arrow">
						
				</div>
				
				<div class="person">
				
						<img src="images/client-1.jpg" alt="man" />
						
						<p> <strong>John Smith</strong><br>CEO &amp; Founder - Okler</p>
						
				<div id="circle2">
				
						<div class="circle">
				
								<img src="images/circle.jpg" alt="dot" />
				
						</div>
				
						<div class="circle">
				
								<img src="images/circle.jpg" alt="dot" />
				
						</div>
						
				</div>
				
				</div>
						
				</aside>
				
		</section>

</body>

</html>




