<!DOCTYPE html>

<html lang="en">

<head>
		<meta charset="utf-8">
		<title> Component 6 </title>
		<link href="css/component.css" type="text/css" rel="stylesheet">
</head>

<body>

		<section>
				<figure>
						<img src="images/marker.png" alt="mark" width="25" height="35"/>
						<p> 8901 Marmora Road Glasgow, DO4 89GR. </p>
						<a href="#"><img src="images/map_icon.png" alt="map" /></a>
				</figure>
				
				<div id="foot">
				<article>
						<ul>
								<li> <a href="#"> <span>&#155;</span>News &amp; Events </a> </li>
								<li> <a href="#"> <span>&#155;</span>Special Promotions </a> </li>
								<li> <a href="#"> <span>&#155;</span>Newsletter </a> </li>
						</ul>
				</article>
				
				<article>
						<ul>
								<li> <a href="#"> <span>&#155;</span>Network Solutions </a> </li>
								<li> <a href="#"> <span>&#155;</span>Support Forum </a> </li>
								<li> <a href="#"> <span>&#155;</span>Database Management </a> </li>
						</ul>
				</article>
				
				<article id="media">
						<ul>
								<li> <a href="http://www.facebook.com"> Facebook </a> </li>
								<li> <a href="http://www.google.com/+/"> Google </a> </li>
								<li> <a href="http://www.rss.com"> Rss </a> </li>
								<li> <a href="http://www.pinterest.com"> Pinterest </a> </li>
								<li> <a href="http://www.linkedin.com"> LinkedIn </a> </li>
						</ul>
				</article>
				
				<article>
						<figure>
								<img src="images/logo.png" alt="logo" />
						</figure>
						<p> &copy 2015 <span>|</span> <a href="#"> Privacy policy </a> </p>
				</article>
				</div>
		
		</section>

</body>

</html>




