<!DOCTYPE html>

<html lang="en">

<head>

		<meta charset="utf-8">
		
		<title> Component 6 </title>
		
		<link href="css/component.css" type="text/css" rel="stylesheet">

</head>

<body>

		<section>
		
		<figure>
		
				<img src="images/marker.png" alt="mark" />
				
		</figure>
				
				<p> 8901 Marmora Road Glasgow, DO4 89GR. </p>
				
		<figure>
				
				<a href="#"><img src="images/map_icon.png" alt="map" /></a>
				
		</figure>
				
				<article>
				
						<ul class="news">
						
								<li> <a href="#"> News &amp; Events </a> </li>
								
								<li> <a href="#"> Special Promotions </a> </li>
								
								<li> <a href="#"> Newsletter </a> </li>
						
						</ul>
				
				</article>
				
				<article>
				
						<ul class="menu">
						
								<li> <a href="#"> Network Solutions </a> </li>
								
								<li> <a href="#"> Support Forum </a> </li>
								
								<li> <a href="#"> Database Management </a> </li>
						
						</ul>
						
				</article>
				
				<article>
				
						<ul class="media">
						
								<li> <a href="#" class="facebook"></a> </li>
								
								<li> <a href="#" class="google"></a> </li>
								
								<li> <a href="#" class="rss"></a> </li>
								
								<li> <a href="#" class="pintrest"></a> </li>
								
								<li> <a href="#" class="linkedin"></a> </li>
				
				</article>
				
				<article class="foot">
				
						<figure>
						
								<img src="images/logo.png" alt="logo" />
						
						</figure>
						
						<p> &copy 2015 <span>|</span> <a href="#"> Privacy policy </a> </p>
						
				</article>
		
		</section>

</body>

</html>




