<!DOCTYPE html>

<html lang="en">

<head>
		<meta charset="utf-8">
		<title> Component 9 </title>
		<link href="css/component.css" type="text/css" rel="stylesheet">
</head>

<body>

		<section>
		
			<form>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
				</button>
				<h4 class="modal-title">Signup Login &amp; Forget Password By Popup</h4>
				<ul class="tabs">
						<li class="selected"> <a href="#"> Sign In </a> </li>
						<li> <a href="#"> Sign Up </a> </li>
						<li> <a href="#"> Forgot Password </a> </li>
				</ul>
				<input type="text" id="username" placeholder="Enter Your Email.."><br><br>
				<input type="password" id="password" placeholder="Password">
				<button> Login </button>
				<ul id="foot">
						<li> <img src="images/9cRRGbK7i.png" alt="Pass" width="16" height="16" /><a href="#"> Forgot Password? </a> </li>
						<li> <img src="images/018669-glossy-black-icon-symbols-shapes-check-mark5-ps.png" alt="Pass" width="16" height="16" /><a href="#"> Sign Up </a> </li>
				</ul>
			</form>
						
		</section>
		
</body>

</html>




