/** Css Beginning **/

html{
		background: #ccc;
}

body{
		background: url("../images/map.jpg");
		height: 300px;
		margin-top: 65px;

}

section{
		text-align: center;
}

article{
		display: inline-block;
}

p{
color: #ffffff;
}

ul{
		list-style: none;
		padding-left: 65px;
		text-align: left;
}

a{
		color: #c2c2c2;
		text-decoration: none;
}

a:hover{
		color: #f1bb40;
}

span{
		letter-spacing: 15px;
		color: #c2c2c2;
}

#foot{
		background: url("../images/pattern.png");
		height: 300px;
		margin-top: 47px;
}

figure{
		padding: 55px;
}

#media ul{
		width: 300px;
		margin-left: 5px;
}

#media li{
		display: inline-block;
}

#media li a{
		display: block;
		width: 2rem;
		height: 2rem;
		text-indent: -9999px;
}

a[href*="facebook.com"] {
		background: url("../images/facebook-512.png") no-repeat center;
		background-size: 1rem;
}

a[href*="google.com/+"]{
		background: url("../images/google-plus-512.png") no-repeat center;
		background-size: 1rem;
}

a[href*="rss.com"]{
		background: url("../images/rss-512.gif") no-repeat center;
		background-size: 1rem;
}

a[href*="pinterest.com"]{
		background: url("../images/pinterest_grey.png") no-repeat center;
		background-size: 1rem;
}

a[href*="linkedin.com"]{
		background: url("../images/linkedin.png") no-repeat center;
		background-size: 1rem;
}