<!DOCTYPE html>

<html lang="en">

<head>

		<meta charset="utf-8">
		
		<title> Component 10 </title>
		
		<link href="css/component.css" type="text/css" rel="stylesheet">

</head>

<body>

		<section>
		
				<h1> Newsletter Sign Up </h1>
				
				<p> Fill in this form. We will call you back. </p>
				
				<div class="line-separator"></div>
				
				<form>
				
						<input type="email" name="email address" title="Enter Email Address." placeholder="Your-Email" />
						
						<button> Submit </button>
				
				</form>
		
		</section>

</body>

</html>




